<!DOCTYPE html>
<html lang="es" data-ng-app="OptionServiScript">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Option2Health</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="controllerservi.js" type="text/javascript"></script>
    <link href="assets/css/alertify.css" rel="stylesheet" />
    <script src="alertify.js"></script>
    <style>
        .chat-box .chat-content .chat-item {
            margin-bottom: 5px;
        }

        .chat-box .chat-content .chat-item.chat-right .chat-details {
            margin-left: 5px;
            margin-right: 40px;
        }

        .chat-box .chat-content .chat-item.chat-left .chat-details {
            margin-left: 40px;
            margin-right: 5px;
        }

        .chat-box .chat-content {
            height: auto;
        }
    </style>
    <script>
        function submitForm() {
            // Get the first form with the name
            // Usually the form name is not repeated
            // but duplicate names are possible in HTML
            // Therefore to work around the issue, enforce the correct index
            var frm = document.getElementsByName('chat-form')[0];
            frm.reset();  // Reset all form data
        }
    </script>
</head>

<body data-ng-controller="OptionServiController">
    <div class="loading_vista" ng-if="mostrarload"
        style="position: fixed;z-index: 10000;width: 100%;height: 100%;background: rgba(0,0,0,0.7);top: 0;left: 0;text-align: center;">
        <div style="color: #ffff;margin-top: 10%;font-size: 30px;font-weight: 600;">
            Cargando ...
        </div>
        <img src="assets/img/framely.gif" width="20%" style="    border-radius: 50%;
    width: 200px;
    height: 150px;">
    </div>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn">
                                <i data-feather="align-justify"></i>
                            </a>
                        </li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" ng-model="search"
                                        aria-label="Search" data-width="200">
                                    <button class="btn" type="submit" ng-click="Buscardata(search)">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="assets/img/profile1.png" ng-if="perfiluser.Foto===''"
                                class="user-img-radious-style">
                            <img src="{{perfiluser.Foto}}" ng-if="perfiluser.Foto!==''" class="user-img-radious-style"
                                style="height: 35px;">
                            <span class="d-sm-none d-lg-inline-block"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pullDown">
                            <div class="dropdown-title">Hola {{perfiluser.Nombres}} </div>
                            <a href="perfil.html" class="dropdown-item has-icon" ng-if="perfiluser.Tipo_usuario==='8'">
                                <i class="far fa-user"></i> Perfil
                            </a>
                            <a href="medicos.html" class="dropdown-item has-icon" ng-if="perfiluser.Tipo_usuario==='7'">
                                <i class="far fa-user"></i> Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a ng-click="cerrarSesion()" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                                Salir
                            </a>
                        </div>
        </div>
        </li>
        </ul>
        </nav>
        <div class="main-sidebar sidebar-style-2">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="index.html">
                        <img alt="image" src="assets/img/logo.png" class="header-logo" />
                        <span class="logo-name">Option2Health</span>
                    </a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" src="assets/img/profile1.png" ng-if="perfiluser.Foto===''">
                        <img src="{{perfiluser.Foto}}" ng-if="perfiluser.Foto!==''" style="height: 60px;">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">{{perfiluser.Nombres}}</div>
                        <div class="user-role" ng-if="perfiluser.Tipo_usuario==='6'">Administrator</div>
                        <div class="user-role" ng-if="perfiluser.Tipo_usuario==='7'">Médico</div>
                        <div class="user-role" ng-if="perfiluser.Tipo_usuario==='9'">Institucion Prod / Servicios </div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">O2H</li>
                    <li>
                        <a href="index.html" class="nav-link">
                            <i class="fas fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li ng-if="perfiluser.Tipo_usuario==='8'">
                        <a class="nav-link" href="perfil.html">
                            <i class="fas fa-portrait"></i>
                            <span>Perfil</span>
                        </a>
                    </li>
                    <li class=""><a class="nav-link" href="saved.html">
                            <i class="fas fa-bookmark"></i>
                            <span>Guardados</span></a>
                    </li>
                    <li ng-if="perfiluser.Tipo_usuario==='7'">
                        <a class="nav-link" href="medicos.html">
                            <i class="fas fa-portrait"></i>
                            <span>Perfil Médico</span>
                        </a>
                    </li>
                    <li ng-if="perfiluser.Tipo_usuario==='7'">
                        <a class="nav-link" href="addfeed.html">
                            <i class="fas fa-file-signature"></i>
                            <span>Agregar Publicación</span>
                        </a>
                    </li>
                    <li ng-if="perfiluser.Tipo_usuario==='7'">
                        <a class="nav-link" href="casos_ex.html">
                            <i class="fas fa-hands-helping"></i>
                            <span>Ayúdanos a ayudar</span>
                        </a>
                    </li>
                    <li class="active" ng-if="perfiluser.Tipo_usuario==='9'">
                        <a class="nav-link" href="productos_servicios.html">
                            <i class="fas fa-boxes"></i>
                            <span>Crear nuevo Producto / servicio</span>
                        </a>
                    </li>
                    <li style="bottom: 2vh; position: absolute;">
                        <a class="nav-link" href="productos_serv.html">
                            <i class="fas fa-hand-holding-heart"></i>
                            <span style="line-height: 18px;">Encuentra AQUÍ los servicios y productos ideales para tu
                                salud.</span>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Crear Productos y Servicios</h4>
                                </div>
                                <div class="card-body">
                                    <form method="POST"
                                        ng-submit="SaveProd(nombre_comercial,nombre_generico,especialid,sexo, edad_1, edad_2, descripcion,giro_neg)">
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <div class="form-line">
                                                    <label class="form-label">Nombre Comercial del producto (*)</label>
                                                    <input type="text" class="form-control" name="name_pub" required
                                                        placeholder="Ej: Multivitaminicos Chiquitolin"
                                                        ng-model="nombre_comercial">
                                                </div>
                                            </div>
                                            <div class="form-group col-6">
                                                <div class="form-line">
                                                    <label class="form-label">Nombre Genérico del producto (*)</label>
                                                    <input type="text" class="form-control" name="name_pub" required
                                                        placeholder="Ej: Multivitaminicos Chiquitolin"
                                                        ng-model="nombre_generico">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label>Áreas relecionadas a su producto o servicio (*)</label>
                                                <select class="form-control" multiple="" data-height="100%"
                                                    ng-model="especialid" required>
                                                    <option value="{{esp.Id_especialidad}}"
                                                        ng-repeat="esp in Especialidad">
                                                        {{esp.Nombre_especialidad}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group col-6">
                                                <label>Giro de negocio relecionadas a su producto o servicio (*)</label>
                                                <select class="form-control" ng-model="giro_neg" required>
                                                    <option value="{{gir.Id_giro}}" ng-repeat="gir in giro_n">
                                                        {{gir.Nombre}}</option>
                                                </select>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <div class="form-line">
                                                    <label class="form-label">Producto o servicio dirigido a... (*)</label>
                                                    <input type="text" name="sexo" class="form-control" ng-model="sexo"
                                                        placeholder="Ej: hombres y mujeres o solo hombres o solo mujeres"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="form-group col-6">
                                                <label class="form-label">Limite de edad (INICIA EN )(*)</label>
                                                <input type="number" name="edad_1" class="form-control"
                                                    ng-model="edad_1" placeholder="Ej: 2" required>
                                            </div>
                                            <div class="form-group col-6">
                                                <label class="form-label">Limite de edad final(TERMINA EN EN
                                                    )(*)</label>
                                                <input type="number" name="edad_2" class="form-control"
                                                    ng-model="edad_2" placeholder="Ej: 80" required>
                                            </div>
                                        </div>

                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <label class="form-label">Ingrese una descripción del producto o
                                                    servicio a ofrecer (*)</label>
                                                <textarea class="form-control" name="texto_corto" id="texto_corto"
                                                    ng-model="descripcion" required
                                                    placeholder="Ej:  son suplementos que contienen una combinación de vitaminas y minerales y, a veces, otros ingredientes. Se los conoce por diferentes nombres, como vitaminas múltiples, polivitamínicos o simplemente vitaminas..."></textarea>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-icon icon-left btn-info"
                                            style="width: 40%;margin-left: 30%;">
                                            <i class=" fas fa-notes-medical"></i> Publicar
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" ng-if="produc_ser === 'no_register'">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Productos y Servicios que ofrece {{intitucionact.Nombrecomercial}}</h4>
                                </div>
                                <div class="card-body">
                                    crear
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="main-footer">
            <div class="footer-left">
            </div>
            <div class="footer-right">
            </div>
        </footer>
    </div>
    </div>
    <!-- General JS Scripts -->
    <script src="assets/js/app.min.js"></script>
    <script src="assets/bundles/jquery-validation/dist/jquery.validate.js"></script>
    <!-- JS Libraies -->
    <script src="assets/bundles/jquery-steps/jquery.steps.js"></script>
    <!-- Page Specific JS File -->
    <script src="assets/js/page/form-wizard.js"></script>
    <!-- Template JS File -->
    <script src="assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="assets/js/custom.js"></script>
</body>

</html>